*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    /* display: inline; */
    background-color: rgba(29, 5, 51, 0);
    width: 100%;
    height: 50%;
}

header:hover{
    cursor: pointer;
    font-weight: bolder;
}

img{
    width: 90px;
    height: 59px;
    display: inline;
    margin-top: 5px;
    /* background-color: green; */
    /* margin-left: 9px; */
}


nav{
    display: inline;
    text-decoration: none;
    width:90%;
    float: right;
    /* font-weight: bolder; */
    margin-top: 20px;
    /* background-color: #00ffff; */
    font-size: large;
    margin-left: 30px;
    text-align: center;
    
}


li{
    display: inline;
    list-style: none;
    text-decoration: none;
     font-size: large;
    margin-left: 30px;
    /* text-align: center; */
}

a{
    text-decoration: none;
    font-size: large;
    color:cyan;
    display: inline;
    /* width: 90%; */
    text-align:center;
}

body{
    /* background-color: rgba(6, 23, 82, 0.932); */
    background-image: url("Media/FX\ B2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: left; */
}


/* div>img{
    width: 450px;
    height: 450px;
    float: right;
    /* margin-top: 10px; 
    image-resolution: 40px;
} */

.b3>a{
    color: black;
    background-color:rgb(18, 88, 116);
    border-radius: 7px;
    /* margin-left: 20px; */
    font-size:large;
    /* width: 90px; */
}

.b3{
    color: black;
    background-color:rgb(18, 88, 116);
    border-radius: 7px;
    margin-left: 20px;
    font-size:large;
    width: 100px;
}

.b1,.b2:hover{
    cursor: pointer;
}


.b2{
     color:white;
    background-color:grey;
    border-radius: 15px;
    margin-left: 20px;
    font-size:large;
    font-weight: bolder;
    text-align: center;
    /* border-width: 5px; */
    width: 80px;
}

.b2>a{
    color: white;
}

.b1>a{
    color: white;
}


.b1{
     color:white;
    background-color:darkgray;
    border-radius: 15px;
    margin-left: 20px;
    font-size:large;
    font-weight: bolder;
    text-align: center;
     width: 80px;
}


div>p{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    /* margin-top: 20px; */
    margin-left: 40px;
    vertical-align: middle;
    margin-top: 70px;
    color: cornsilk;
    font-weight: bolder;
}


/* div,section{
    margin-left: 30px;
    margin-right: 70;
    margin-top: 30px;
} */

section>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    /* margin-top: 20px; */
    margin-left: 40px;
    vertical-align: middle;
    color:greenyellow;
}



.b3:hover{
    font-weight: bolder;
    cursor: pointer;
    font-size: large;
}

nav:hover{
    font-weight: bolder;
    cursor: pointer;
    /* font-size: large; */
}

li:hover{
    font-weight: bolder;
    /* font-size: large; */
}

a:hover{
    font-weight: bolder;
    font-size: large;
}